<div class="app app-header-fixed ">
    

    <div class="container w-xxl w-auto-xs">
      <a href class="navbar-brand block m-t">Smart IMS</a>
      <div class="m-b-lg">
        <div class="wrapper text-center">
          <strong>Sign in to get in touch</strong>
        </div>
        <form #loginForm=ngForm (ngSubmit)="onSubmit()">
          <div class="text-danger wrapper text-center" [hidden]="!error">
              {{error}}
          </div>
          <div class="list-group list-group-sm">
            <div class="list-group-item">
              <input type="email" name="email" placeholder="Email" class="form-control no-border" [(ngModel)]="form.email" required>
            </div>
            <div class="list-group-item">
             <input type="password" name="password" placeholder="Password" class="form-control no-border" [(ngModel)]="form.password" required>
           </div>
         </div>
         <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.valid">Log in</button>
         <div class="text-center m-t m-b"><a routerLink="/request-password-reset">Forgot password?</a></div>
         <div class="line line-dashed"></div>
         <p class="text-center"><small>Do not have an account?</small></p>
         <a routerLink="/register" class="btn btn-lg btn-default btn-block">Create an account</a>
       </form>
     </div>
     <div class="text-center">
      <p>
        <small class="text-muted">Web app framework base on Bootstrap and AngularJS<br>&copy; 2014</small>
      </p>
    </div>
  </div>